<app-toolbar [elevation]="0">
  <button app-button-primary>
    Primary Button
  </button>
  <button app-button-secondary>
    Secondary Button
  </button>
</app-toolbar>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, mollitia, quis? A ab, aliquam, cupiditate dolore doloribus eius esse expedita incidunt iusto laborum nam nemo placeat
  praesentium, quidem sapiente sequi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur culpa dicta dolorem dolorum excepturi maxime natus nulla quasi, quibusdam ratione repudiandae, soluta voluptates. Cum
  dicta id modi perspiciatis quia?</p>
<app-sheet [elevation]="12">
  Hello
</app-sheet>
<div style="padding: 1rem"></div>
<app-customer-list #list [items]="customers"></app-customer-list>

<pre>{{list.selectedItems | json}}</pre>
